body {
  background-color: rgb(107, 112, 119);
}

header {
  background-color: rgb(66, 71, 71);
  height: 100px;
  padding-top: 35px;
}

header a {
  text-decoration: none;
  color: wheat;
  font-weight: 700;
  font-size: 20px;
}

.home {
  margin-left: 20px;
}

header a:hover {
  color: rgb(39, 25, 9);
}

h1 {
  text-align: center;
}